<!--<header class="box">-->
<!--<div class="logo">-->
<!--<img width="86" src="images/wix_icon.png" alt="logo"/>-->
<!--</div>-->

<!--<div class="loggedOut">-->
<!--<p translate="description">-->
<!--</p>-->

<!--<div class="login-panel">-->
<!--<p class="create-account" translate="create"></p>-->
<!--<button class="submit uilib-btn connect">{{'connect' | translate}}</button>-->
<!--</div>-->
<!--</div>-->
<!--<div class="loggedIn hidden">-->
<!--<p>{{'connected' | translate:params}}<br/>-->
<!--<a class="disconnect-account">{{'disconnect' | translate}}</a></p>-->

<!--<div class="premium-panel">-->
<!--<p class="premium-features ">{{'premium' | translate}}</p>-->
<!--<button class="submit uilib-btn btn-upgrade upgrade">{{'upgrade' | translate}}</button>-->
<!--</div>-->
<!--</div>-->
<!--</header>-->

<div wix-ctrl="Accordion">
    <!--{{compId}}-->
    <!--{{origCompId}}-->
    <div class="acc-pane">
        <div class="acc-content">
            <ul class="list">
                <li wix-label="Artist Name:"><input ng-model="artist.name" ng-change="artist.$save()" type="text" placeholder="Artist name" /></li>
                <li wix-label="Text Color:">
                    <div wix-param="textColor" wix-ctrl="ColorPicker" wix-options="{startWithColor:'color-5'}"></div>
                </li>
                <li wix-label="Link Color:">
                    <div wix-param="linkColor" wix-ctrl="ColorPicker" wix-options="{startWithColor:'color-5'}"></div>
                </li>
                <li wix-label="Background Color:">
                    <div wix-param="widgetBackgroundColor" wix-ctrl="ColorPicker"
                         wix-options="{startWithColor:'color-1'}"></div>
                </li>
                <li wix-label="Separator Border Color:">
                    <div wix-param="separatorColor" wix-ctrl="ColorPicker"
                         wix-options="{startWithColor:'color-1'}"></div>
                </li>

                <li wix-label="Limit of shows to display:">
                    <input ng-model="artist.displayLimit" ng-change="artist.$save()" type="number"/>
                </li>

                <li wix-label="Show bandsintown.com link at bottom:">
                    <input ng-model="artist.footerLink" ng-change="artist.$save()" type="checkbox"/>
                </li>
                <li wix-label="Display concerts in narrow/2-column format:">
                    <input ng-model="artist.narrowLayout" ng-change="artist.$save()" type="checkbox"/>
                </li>
                <li wix-label="Show 'Notify Me' Link:">
                    <input ng-model="artist.notifyMe" ng-change="artist.$save()" type="checkbox"/>
                </li>
                <li wix-label="Show 'share' link:">
                    <input ng-model="artist.shareLinks" ng-change="artist.$save()" type="checkbox"/>
                </li>
            </ul>
        </div>
    </div>



    <!--<div class="acc-pane">-->
    <!--<h3>Sync Options</h3>-->

    <!--<div class="acc-content">-->
    <!--<p>How many images to sync ?</p>-->

    <!--<div wix-model="imagesToSync" wix-ctrl="Radio">-->
    <!--<div data-radio-value="sync10">Sync 10 images</div>-->
    <!--<div data-radio-value="sync25">Sync 25 images</div>-->
    <!--<div data-radio-value="sync50">Sync 50 images</div>-->
    <!--</div>-->
    <!--<p>Sync Meta Data ?</p>-->

    <!--<div wix-model="imageMeta" wix-ctrl="Checkbox:{ postLabel:'Image Meta'}"></div>-->
    <!--<div wix-model="imageAlt" wix-ctrl="Checkbox:{ postLabel:'Image Alt'}"></div>-->
    <!--<div wix-model="imageLink" wix-ctrl="Checkbox:{ postLabel:'Image Link'}"></div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="acc-pane">-->
    <!--<h3>Button Group</h3>-->

    <!--<div class="acc-content">-->
    <!--<div wix-model="adsSize" wix-ctrl="ButtonGroup">-->
    <!--<button value="mini">Mini</button>-->
    <!--<button value="medium">Medium</button>-->
    <!--<button value="large">Large</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

</div>

